body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
		}
	h1
	  	{margin-bottom: 0px; font-size: 36px; font-weight: 400; text-align: center; font-family: Georgia, serif; color: #7c097c; font-weight: bold;}
	h2
		{margin-bottom: 8px; border-bottom: 1px; color: grey; font-weight: 400; font-size: 32px; text-align: center; font-family: Georgia, serif; color: #dd91ea}
	h3
		{font-size: 20px; text-align: center; color: #dd91ea}	
	p
		{ margin-bottom: 12px; padding: 2px; color: #797a79; display: block;}  	
	p.info 
		{background-color: #dd91ea; color: white; font-weight: bold; display: inline;}	
	p.title
	    { font-size: 32px; color: #7c097c;}
	#header
		{margin-bottom: 32px; text-align: center;}
	#footer
		{margin-top: 64px;  text-align: center;}
